# Copia este archivo como functions/.env (no lo subas a git)
PAYPAL_CLIENT_ID=AeUsR4xqDPqAnX1ijFu6NzD7n_rQZ-rPD9NcTMe_qP7oezKL8XcZNIWSdEovwguX7_wHMwKs8wJwN_b8
PAYPAL_PLAN_ID=P-16844365R64407219NLEEUPQ
# live = cobros reales, sandbox = pruebas
PAYPAL_ENV=live
